<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>google OAuth Authentication</title>
    <style>
        .google { 
            background-color: #3b5998;
            color:azure;
        }
        .fa-google-f:before,
        .fa-google-f:before{
            content: '\f09a';
        }
    </style>
</head>
<body>
    <div class="container">
        <br><br>
        <div class="row-center">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        Google Login Using Node JS and Passport for Implementing OAuth
                    </span>
                    <a href="/auth/google">
                    <i class="fa fa-google">Sign In With Google</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
