<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <div class="container">
        <br><br>
        <div class="row center">
            <div class="card">
                <h5>
                    <%= user.displayName %> 
                    <br>
                    <%= user.emails[0].value %> 
                    <br>
                    <%= user.id %> 
                </h5>
            </div>
        </div>
    </div>
</body>
</html>
